<a href="https://colab.research.google.com/github/Patsee/data_viz/blob/main/Function_Loop_condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Function

In [ ]:
name = 'พัสกร'
surname = 'ปัดสี'
ID = '613020194-6'

b = f' ชื่อ { name } นามสกุล { surname }  รหัส { ID } '
print(b)

 ชื่อ พัสกร นามสกุล ปัดสี  รหัส 613020194-6

Function  template \
ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output \
f(x) = y

# def คือ การกำหนดฟังก์ชัน

def function_name(_Input) : \
  do_something with _Input_to get _Output \
  return _output_ \
  back tick ( ) ==> กดค้าง ~ alt+96 \
  tilde (~)
  curly blacket ({ }) \
  square blacket ([ ])

## ตัวอย่างการเขียน normal function

In [ ]:
def print_name(name,surname,id ) :
st = f' ชื่อ {name} นามสกุล {surname} รหัส {id} '
return st

IndentationError: ignored

In [ ]:
print_name('ปัดสี' , '613020194-6' , 'พัสกร')

NameError: ignored

In [ ]:
def print_name2(surname,ID,name ) :
          st = f' ชื่อ  {name}  นามสกุล  {surname}  รหัส  {ID}'
       print(st)

IndentationError: ignored

In [ ]:
print_name2(name='พัสกร', surname='ปัดสี', ID='613020194-6')

NameError: ignored

ฟังก์ชัน ไม่จำเป็นต้องมี input

In [ ]:
def Pi() :
    return 3.1415

In [ ]:
Pi()*(2**2) #หาพื้นที่วงกลมที่มีรัศมีเท่ากับ pi*r^2

12.566

## เราสามารถกำหนดค่า default ให้กับฟังก์ชันได้

In [ ]:
def  print_2line_default(name,surname,ID,grade='F') :
  st = f' ชื่อ {name} นามสกุล {surname} รหัส {ID} '
  print(st)
  st2=f'เกรดวิชา Data >>> {grade}'
  print(st2)

In [ ]:
print_2line_default('พัสกร' , 'ปัดสี', '613020194-6')

 ชื่อ  พัสกร  นามสกุล  ปัดสี  รหัส  613020194-6
เกรดวิชา Data >>> F

In [ ]:
print_2line_default('พัสกร' , 'ปัดสี', '613020194-6','A')

 ชื่อ  พัสกร  นามสกุล  ปัดสี  รหัส  613020194-6
เกรดวิชา Data >>> A

### LOOP การวนซ้ำ 
 for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop

for  each_member in list A :
do something

In [ ]:
for i in [1,2,3] :
  o = i**2
  print  (f'this member = {i} after process =  {o}')

this member = 1 after process =  1
this member = 2 after process =  4
this member = 3 after process =  9

## HW 3
## ให้สร้าง list ของเวลา แล้ววนลูปเรียกฟังก์ชันคำนวณเวลาเป็นวินาที

In [ ]:
for time in ['12:30:15','13:41:07','12:53:15','00:59:25','11:11:11','16:06:09'] :
  DT = time.split(':')
  hour = int(DT[0])*3600
  min = int(DT[1])*60
  sec = int(DT[2])
  tt = hour + min + sec
  print  (f'ในเวลา  {time} มีเวลาเป็นวินาทีเท่ากับ  {tt} วินาที ')

ในเวลา  12:30:15 มีเวลาเป็นวินาทีเท่ากับ  45015 วินาที
ในเวลา  13:41:07 มีเวลาเป็นวินาทีเท่ากับ  49267 วินาที
ในเวลา  12:53:15 มีเวลาเป็นวินาทีเท่ากับ  46395 วินาที
ในเวลา  00:59:25 มีเวลาเป็นวินาทีเท่ากับ  3565 วินาที
ในเวลา  11:11:11 มีเวลาเป็นวินาทีเท่ากับ  40271 วินาที
ในเวลา  16:06:09 มีเวลาเป็นวินาทีเท่ากับ  57969 วินาที

12 / 1 /2564

In [ ]:
for i in 'patsakorn' :
 print  (f'  {i} -> / ',end = ',') #สั่งให้ print แบบไม่เว้นบรรทัด

  p -> / ,  a -> / ,  t -> / ,  s -> / ,  a -> / ,  k -> / ,  o -> / ,  r -> / ,  n -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100) :
  print('งง',end= ',')

งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,งง,

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทีบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

## loop ซ้อน loop

In [ ]:
for name1 in range(2,5) : #(2,3,4)
  print(f' now name1 = {name1}')
  for name2 in range(1,13) : 
    print(name1,' x ',name2,' = ',name1*name2)

 now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
 now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
 now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48

In [ ]:

def print_feeling(I,friends,feeling = 'รัก') :
  for friend in friends :
    print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['สุนัข','แมว','ช้าง','เขา']
print_feeling('เธอ',list_friends)

เธอ รัก สุนัข
เธอ รัก แมว
เธอ รัก ช้าง
เธอ รัก เขา

In [ ]:
print_feeling('เธอ',list_friends, feeling = 'คิดถึง')

เธอ คิดถึง สุนัข
เธอ คิดถึง แมว
เธอ คิดถึง ช้าง
เธอ คิดถึง เขา

# conditional คือ เงื่อนไข / ประโยคเงื่อนไข

In [ ]:
print(list_friends)

['สุนัข', 'แมว', 'ช้าง', 'เขา']

In [ ]:
for name1 in list_friends :
  for name2 in list_friends : 
    if name1 != name2 : #ไม่ปริ้นชื่อเดียวกัน
       print(name1, 'รัก' ,name2)

สุนัข รัก แมว
สุนัข รัก ช้าง
สุนัข รัก เขา
แมว รัก สุนัข
แมว รัก ช้าง
แมว รัก เขา
ช้าง รัก สุนัข
ช้าง รัก แมว
ช้าง รัก เขา
เขา รัก สุนัข
เขา รัก แมว
เขา รัก ช้าง

In [ ]:
for name1 in list_friends :
  for name2 in list_friends : 
    if name1 == name2 : 
      
       print(name1, 'รัก' ,name2)

สุนัข รัก สุนัข
แมว รัก แมว
ช้าง รัก ช้าง
เขา รัก เขา

In [46]:
for name1 in list_friends :
  for name2 in list_friends : 
    if name1 == name2 : 
    
    else :
       print(name1, 'รัก' ,name2)

IndentationError: ignored

In [ ]:
if True :
  print('Yes')

Yes

## Hw4


## โจทย์
เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

## กำหนด

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A

  แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [102]:

def grade (score):
  if 0 <= score < 50 :
    print(f'คะแนนของนักศึกษา เท่ากับ {score} คะแนน ดังนั้น เกรดของนักศึกษา คือ F ' )
  elif 50 <= score< 55:
    print(f'คะแนนของนักศึกษา เท่ากับ {score} คะแนน ดังนั้น เกรดของนักศึกษา คือ D  ' )
  elif 55 <= score< 60:
    print(f'คะแนนของนักศึกษา เท่ากับ {score} คะแนน ดังนั้น เกรดของนักศึกษา คือ D+  ' )
  elif 60 <= score< 65:
    print(f'คะแนนของนักศึกษา เท่ากับ {score} คะแนน ดังนั้น เกรดของนักศึกษา คือ C ' )
  elif 65 <= score<70:
    print(f'คะแนนของนักศึกษา เท่ากับ {score} คะแนน ดังนั้น เกรดของนักศึกษา คือ C+' ) 
  elif 70 <= score<75:
    print(f'คะแนนของนักศึกษา เท่ากับ {score} คะแนน ดังนั้น เกรดของนักศึกษา คือ B  ' )  
  elif 75 <= score<80:
    print(f'คะแนนของนักศึกษา เท่ากับ {score} คะแนน ดังนั้น เกรดของนักศึกษา คือ B+  ' )  
  elif 80 <= score<100:
    print(f'คะแนนของนักศึกษา เท่ากับ {score} คะแนน ดังนั้น เกรดของนักศึกษา คือ A  ' )  
  else:
    print(f'คะแนนของนักศึกษา เท่ากับ {score} คะแนน ดังนั้น เกรดของนักศึกษา error ')

In [81]:
input = [1,50,65,90,101,-5,49]

In [103]:
for score in input:
  grade(score)

คะแนนของนักศึกษา เท่ากับ 1 คะแนน ดังนั้น เกรดของนักศึกษา คือ F
คะแนนของนักศึกษา เท่ากับ 50 คะแนน ดังนั้น เกรดของนักศึกษา คือ D
คะแนนของนักศึกษา เท่ากับ 65 คะแนน ดังนั้น เกรดของนักศึกษา คือ C+
คะแนนของนักศึกษา เท่ากับ 90 คะแนน ดังนั้น เกรดของนักศึกษา คือ A
คะแนนของนักศึกษา เท่ากับ 101 คะแนน ดังนั้น เกรดของนักศึกษา error
คะแนนของนักศึกษา เท่ากับ -5 คะแนน ดังนั้น เกรดของนักศึกษา error
คะแนนของนักศึกษา เท่ากับ 49 คะแนน ดังนั้น เกรดของนักศึกษา คือ F