<a href="https://colab.research.google.com/github/Patsee/data_viz/blob/main/Multi_613020194_6_%E0%B8%9E%E0%B8%B1%E0%B8%AA%E0%B8%81%E0%B8%A3_Colab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x1 = matrix(c(2,3,7,4),4,1)
print(x1)

     [,1]
[1,]    2
[2,]    3
[3,]    7
[4,]    4

In [2]:
x2 = matrix(c(42,52,48,58,4,5,4,5),4,2)
print(x2)

     [,1] [,2]
[1,]   42    4
[2,]   52    5
[3,]   48    4
[4,]   58    5

In [3]:
print(4*x1)
print(4*x2)

     [,1]
[1,]    8
[2,]   12
[3,]   28
[4,]   16
     [,1] [,2]
[1,]  168   16
[2,]  208   20
[3,]  192   16
[4,]  232   20

In [4]:
y = matrix(c(2,-6,7,3),4,1)
print(y)

     [,1]
[1,]    2
[2,]   -6
[3,]    7
[4,]    3

In [5]:
print(x1+y)

     [,1]
[1,]    4
[2,]   -3
[3,]   14
[4,]    7

In [6]:
A = matrix(c(3,1,-1,5,2,4),2,3)
print(A)

     [,1] [,2] [,3]
[1,]    3   -1    2
[2,]    1    5    4

In [7]:
B = matrix(c(1,4,2,5,3,6),2,3)
print(B)

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6

In [8]:
C = matrix(c(1,2,-1,2,1,2),3,2)
print(C)

     [,1] [,2]
[1,]    1    2
[2,]    2    1
[3,]   -1    2

In [9]:
print(A*B)

     [,1] [,2] [,3]
[1,]    3   -2    6
[2,]    4   25   24

In [10]:
print(B%*%C)

     [,1] [,2]
[1,]    2   10
[2,]    8   25

In [14]:
t(A) # Transpose A

     [,1] [,2]
[1,]  3   1
[2,] -1   5
[3,]  2   4