<a href="https://colab.research.google.com/github/Patsee/data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

In [15]:
from google.colab import  drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
import os 
path = '/content/drive/My Drive/dataviz_2021'

In [17]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021/pm-18-jan-2021.csv

In [18]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/My Drive/dataviz_2021/pm-18-jan-2021.csv

##load data to memory

In [19]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [20]:
data_covid.shape

(12423, 10)

# ชี้ค่าในตาราง

In [21]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [22]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

.iloc

In [ ]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

Table slicing

ตัดมาเฉพาะ column ที่ต้องการ

In [ ]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

ตัดเฉพาะ rows ที่ต้องการ

แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้

In [ ]:
data_covid.iloc[1:5, : ]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่าเดิม

In [ ]:
data_covid[data_covid['province_of_onset']=='ร้อยเอ็ด']

         No.  ...                                               risk
185      186  ...                                            สนามมวย
622      623  ...                                        สถานบันเทิง
994      995  ...                                        สถานบันเทิง
7525    7526  ...                                     Cluster ชลบุรี
10550  10551  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...

[5 rows x 10 columns]

data_covid[x] x สามารถมีค่าใส่เข้าไปได้ 2 แบบ

1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่า เอาแถวไหนบ้างโดยใช้ logical expression(True/False) )

In [ ]:
eight_rows_covid = data_covid.iloc[:8,:]
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [ ]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [ ]:
eight_rows_covid['province_of_onset']=='กรุงเทพมหานคร' #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [ ]:
eight_rows_covid[eight_rows_covid['province_of_onset']=='กรุงเทพมหานคร'] #เราเอา 2 บรรทัดบนมาบวกกัน

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

In [ ]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

HW
1. คำนวณ อายุเฉลี่ย ของผู้หญิง และ ผู้ชาย ของข้อมูลทั้งหมด
2. คำนวณ อายุเฉลี่ย ของผู้หญิง และ ผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

In [55]:
A = data_covid[['sex','age','province_of_onset']]
A

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [64]:
D1 = A[A['sex']=='หญิง']
D1

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
4      หญิง  66.0     กรุงเทพมหานคร
5      หญิง  33.0     กรุงเทพมหานคร
...     ...   ...               ...
12413  หญิง  16.0              ตรัง
12416  หญิง  36.0               เลย
12417  หญิง  29.0       สมุทรปราการ
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ

[5199 rows x 3 columns]

In [63]:
D2 = A[A['sex']=='ชาย']
D2

       sex   age province_of_onset
3      ชาย  68.0     กรุงเทพมหานคร
8      ชาย  63.0     กรุงเทพมหานคร
10     ชาย  33.0     กรุงเทพมหานคร
11     ชาย  61.0     กรุงเทพมหานคร
12     ชาย   6.0     กรุงเทพมหานคร
...    ...   ...               ...
12414  ชาย  32.0             สงขลา
12415  ชาย  38.0             สงขลา
12420  ชาย  10.0            ชลบุรี
12421  ชาย  52.0            ชลบุรี
12422  ชาย  51.0             ระยอง

[4727 rows x 3 columns]

In [62]:
D3 = A[A['province_of_onset'] == 'ขอนแก่น']
D3

        sex   age province_of_onset
180     ชาย  33.0           ขอนแก่น
462    หญิง  36.0           ขอนแก่น
1466    ชาย  19.0           ขอนแก่น
1970   หญิง  70.0           ขอนแก่น
2637   หญิง  63.0           ขอนแก่น
2673    ชาย  68.0           ขอนแก่น
5948   หญิง  32.0           ขอนแก่น
6082   หญิง  36.0           ขอนแก่น
9333    ชาย  17.0           ขอนแก่น
9334    ชาย  20.0           ขอนแก่น
10610   ชาย  17.0           ขอนแก่น
11517   ชาย  12.0           ขอนแก่น
11697  หญิง  17.0           ขอนแก่น
11698  หญิง  37.0           ขอนแก่น

คำนวณ อายุเฉลี่ยของผู้หญิงของข้อมูลทั้งหมด

In [52]:
B1=D1["age"].mean()
print(f' อายุเฉลี่ยของผู้หญิงของข้อมูลทั้งหมด = {B1} ปี ')

 อายุเฉลี่ยของผู้หญิงของข้อมูลทั้งหมด = 36.70788295640009 ปี

คำนวณ อายุเฉลี่ยของผู้ชายของข้อมูลทั้งหมด

In [54]:
B2=D2["age"].mean()
print(f' อายุเฉลี่ยของผู้ชายของข้อมูลทั้งหมด = {B2} ปี ')

 อายุเฉลี่ยของผู้ชายของข้อมูลทั้งหมด = 39.55682775996335 ปี

In [65]:
D1_1 = D3[D3['sex']=='หญิง']
D1_1

        sex   age province_of_onset
462    หญิง  36.0           ขอนแก่น
1970   หญิง  70.0           ขอนแก่น
2637   หญิง  63.0           ขอนแก่น
5948   หญิง  32.0           ขอนแก่น
6082   หญิง  36.0           ขอนแก่น
11697  หญิง  17.0           ขอนแก่น
11698  หญิง  37.0           ขอนแก่น

In [66]:
D2_1 = D3[D3['sex']=='ชาย']
D2_1

       sex   age province_of_onset
180    ชาย  33.0           ขอนแก่น
1466   ชาย  19.0           ขอนแก่น
2673   ชาย  68.0           ขอนแก่น
9333   ชาย  17.0           ขอนแก่น
9334   ชาย  20.0           ขอนแก่น
10610  ชาย  17.0           ขอนแก่น
11517  ชาย  12.0           ขอนแก่น

In [68]:
B3=D1_1["age"].mean()
print(f' อายุเฉลี่ยของผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น = {B3} ปี ')

 อายุเฉลี่ยของผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น = 41.57142857142857 ปี

In [86]:
B4=D2_1["age"].mean()
print(f' อายุเฉลี่ยของผู้ชายของผู้ป่วยในจังหวัดขอนแก่น = {B4} ปี ')

 อายุเฉลี่ยของผู้ชายของผู้ป่วยในจังหวัดขอนแก่น = 26.571428571428573 ปี