<a href="https://colab.research.google.com/github/Patsee/data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
import pandas as pd

In [72]:
from google.colab import  drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os 
path = '/content/drive/My Drive/dataviz_2021'

In [ ]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021/pm-18-jan-2021.csv

In [ ]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/My Drive/dataviz_2021/pm-18-jan-2021.csv

##load data to memory

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [ ]:
data_covid.shape

(12423, 10)

# ชี้ค่าในตาราง

In [ ]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [ ]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

.iloc

In [ ]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

Table slicing

ตัดมาเฉพาะ column ที่ต้องการ

In [ ]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

ตัดเฉพาะ rows ที่ต้องการ

แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้

In [ ]:
data_covid.iloc[1:5, : ]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่าเดิม

In [ ]:
data_covid[data_covid['province_of_onset']=='ร้อยเอ็ด']

         No.  ...                                               risk
185      186  ...                                            สนามมวย
622      623  ...                                        สถานบันเทิง
994      995  ...                                        สถานบันเทิง
7525    7526  ...                                     Cluster ชลบุรี
10550  10551  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...

[5 rows x 10 columns]

data_covid[x] x สามารถมีค่าใส่เข้าไปได้ 2 แบบ

1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่า เอาแถวไหนบ้างโดยใช้ logical expression(True/False) )

In [ ]:
eight_rows_covid = data_covid.iloc[:8,:]
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [ ]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [ ]:
eight_rows_covid['province_of_onset']=='กรุงเทพมหานคร' #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [ ]:
eight_rows_covid[eight_rows_covid['province_of_onset']=='กรุงเทพมหานคร'] #เราเอา 2 บรรทัดบนมาบวกกัน

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

In [ ]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

HW
1. คำนวณ อายุเฉลี่ย ของผู้หญิง และ ผู้ชาย ของข้อมูลทั้งหมด
2. คำนวณ อายุเฉลี่ย ของผู้หญิง และ ผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

In [ ]:
A = data_covid[['sex','age','province_of_onset']]
A

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [ ]:
D1 = A[A['sex']=='หญิง']
D1

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
4      หญิง  66.0     กรุงเทพมหานคร
5      หญิง  33.0     กรุงเทพมหานคร
...     ...   ...               ...
12413  หญิง  16.0              ตรัง
12416  หญิง  36.0               เลย
12417  หญิง  29.0       สมุทรปราการ
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ

[5199 rows x 3 columns]

In [ ]:
D2 = A[A['sex']=='ชาย']
D2

       sex   age province_of_onset
3      ชาย  68.0     กรุงเทพมหานคร
8      ชาย  63.0     กรุงเทพมหานคร
10     ชาย  33.0     กรุงเทพมหานคร
11     ชาย  61.0     กรุงเทพมหานคร
12     ชาย   6.0     กรุงเทพมหานคร
...    ...   ...               ...
12414  ชาย  32.0             สงขลา
12415  ชาย  38.0             สงขลา
12420  ชาย  10.0            ชลบุรี
12421  ชาย  52.0            ชลบุรี
12422  ชาย  51.0             ระยอง

[4727 rows x 3 columns]

In [ ]:
D3 = A[A['province_of_onset'] == 'ขอนแก่น']
D3

        sex   age province_of_onset
180     ชาย  33.0           ขอนแก่น
462    หญิง  36.0           ขอนแก่น
1466    ชาย  19.0           ขอนแก่น
1970   หญิง  70.0           ขอนแก่น
2637   หญิง  63.0           ขอนแก่น
2673    ชาย  68.0           ขอนแก่น
5948   หญิง  32.0           ขอนแก่น
6082   หญิง  36.0           ขอนแก่น
9333    ชาย  17.0           ขอนแก่น
9334    ชาย  20.0           ขอนแก่น
10610   ชาย  17.0           ขอนแก่น
11517   ชาย  12.0           ขอนแก่น
11697  หญิง  17.0           ขอนแก่น
11698  หญิง  37.0           ขอนแก่น

คำนวณ อายุเฉลี่ยของผู้หญิงของข้อมูลทั้งหมด

In [ ]:
B1=D1["age"].mean()
print(f' อายุเฉลี่ยของผู้หญิงของข้อมูลทั้งหมด = {B1} ปี ')

 อายุเฉลี่ยของผู้หญิงของข้อมูลทั้งหมด = 36.70788295640009 ปี

คำนวณ อายุเฉลี่ยของผู้ชายของข้อมูลทั้งหมด

In [ ]:
B2=D2["age"].mean()
print(f' อายุเฉลี่ยของผู้ชายของข้อมูลทั้งหมด = {B2} ปี ')

 อายุเฉลี่ยของผู้ชายของข้อมูลทั้งหมด = 39.55682775996335 ปี

In [ ]:
D1_1 = D3[D3['sex']=='หญิง']
D1_1

        sex   age province_of_onset
462    หญิง  36.0           ขอนแก่น
1970   หญิง  70.0           ขอนแก่น
2637   หญิง  63.0           ขอนแก่น
5948   หญิง  32.0           ขอนแก่น
6082   หญิง  36.0           ขอนแก่น
11697  หญิง  17.0           ขอนแก่น
11698  หญิง  37.0           ขอนแก่น

In [ ]:
D2_1 = D3[D3['sex']=='ชาย']
D2_1

       sex   age province_of_onset
180    ชาย  33.0           ขอนแก่น
1466   ชาย  19.0           ขอนแก่น
2673   ชาย  68.0           ขอนแก่น
9333   ชาย  17.0           ขอนแก่น
9334   ชาย  20.0           ขอนแก่น
10610  ชาย  17.0           ขอนแก่น
11517  ชาย  12.0           ขอนแก่น

In [ ]:
B3=D1_1["age"].mean()
print(f' อายุเฉลี่ยของผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น = {B3} ปี ')

 อายุเฉลี่ยของผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น = 41.57142857142857 ปี

In [ ]:
B4=D2_1["age"].mean()
print(f' อายุเฉลี่ยของผู้ชายของผู้ป่วยในจังหวัดขอนแก่น = {B4} ปี ')

 อายุเฉลี่ยของผู้ชายของผู้ป่วยในจังหวัดขอนแก่น = 26.571428571428573 ปี

เฉลย  HW6

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [ ]:
female = this_data[this_data['sex']=='หญิง']
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12413    16.0
12416    36.0
12417    29.0
12418    28.0
12419    27.0
Name: age, Length: 5199, dtype: float64

In [ ]:
sum = 0
N = 0
for a in female['age']  :
    if a > 0 :
      sum += a #sum = sum + a
      N +=1

print(f' อายุเฉลี่ยของผู้หญิงของผู้ป่วยทั้งหมด {sum/N} ')

 อายุเฉลี่ยของผู้หญิงของผู้ป่วยทั้งหมด 36.70788295640009

In [ ]:
female_kk = female[female['province_of_onset']=='ขอนแก่น']
sum = 0
N = 0
for a in female_kk['age']  :
    if a > 0 :
      sum += a #sum = sum + a
      N +=1
      
print(f' อายุเฉลี่ยของผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น {sum/N} ')

 อายุเฉลี่ยของผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น 41.57142857142857

การจัดการ Missing Value
- ลบ record ที่เป็น missing
- แทนที่ค่า missing ด้วยค่าที่เหมาะสม mean,defaulf, category-unknown
-ใช้ ค่าจาก column อื่น ช่วยประมาณค่าใน column ที่หายไป(regression, deep learning, etc.)

`
ลบ record (drop_na)

In [ ]:
this_data.shape

(8253, 3)

In [ ]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12423, 10)
(6430, 10)

In [ ]:
this_data.dropna().shape

(8253, 3)

In [ ]:
this_data.dropna()
print(this_data.shape)

(12423, 3)

In [ ]:
this_data.dropna(inplace=True)
print(this_data.shape)

(8253, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12423, 3)

In [ ]:
this_data.dropna(subset = ['age']).shape

(8656, 3)

แทน missing ด้วยค่าที่เหมาะสม (fillna)

การวนลูป record ในตาราง

In [ ]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [ ]:
print(f' จำนวน record ก่อน drop missing ใน province {this_data.shape[0]} ' )
print(f" จำนวน record ก่อน drop missing ใน province {this_data.dropna(subset=['province_of_onset']).shape[0]} ")

 จำนวน record ก่อน drop missing ใน province 12423
 จำนวน record ก่อน drop missing ใน province 10432

In [ ]:
this_data_update =  this_data.fillna(value={'sex' : 'ไม่รู้','age':-1,'province_of_onset' :' ไม่รู้'})
this_data_update

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [ ]:
this_data_update[this_data_update['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12405  ไม่รู้ -1.0            ไม่รู้
12406  ไม่รู้ -1.0            ไม่รู้
12407  ไม่รู้ -1.0            ไม่รู้
12408  ไม่รู้ -1.0            ไม่รู้
12409  ไม่รู้ -1.0            ไม่รู้

[2497 rows x 3 columns]

In [ ]:
data_covid[this_data_update['sex']=='ไม่รู้']

         No. announce_date  ... district_of_onset               risk
4391    4392    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4392    4393    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4393    4394    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4394    4395    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4395    4396    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
...      ...           ...  ...               ...                ...
12405  12406     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12406  12407     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12407  12408     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12408  12409     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12409  12410     1/18/2021  ...               NaN  Cluster สมุทรสาคร

[2497 rows x 10 columns]

In [ ]:
this_data_update['province_of_onset']=='ไม่รู้'

0        False
1        False
2        False
3        False
4        False
         ...
12418    False
12419    False
12420    False
12421    False
12422    False
Name: province_of_onset, Length: 12423, dtype: bool

In [ ]:
this_data_update_2 =  this_data.fillna(value={'province_of_onset' :' ไม่รู้'})
this_data_update_2[this_data_update['sex']=='ไม่รู้']

       sex  age province_of_onset
4391   NaN  NaN         สมุทรสาคร
4392   NaN  NaN         สมุทรสาคร
4393   NaN  NaN         สมุทรสาคร
4394   NaN  NaN         สมุทรสาคร
4395   NaN  NaN         สมุทรสาคร
...    ...  ...               ...
12405  NaN  NaN            ไม่รู้
12406  NaN  NaN            ไม่รู้
12407  NaN  NaN            ไม่รู้
12408  NaN  NaN            ไม่รู้
12409  NaN  NaN            ไม่รู้

[2497 rows x 3 columns]

###การวนลูป record ในตาราง (iterrows)

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]

In [ ]:
for each_row in this_data.iterrows():
 # print(each_row)
  #  print(each_row[1])
  if (each_row[1]['age']==20) and (each_row[1]['province_of_onset']=='ขอนแก่น') :
    print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)

### การวนลูป แบบมองตารางแพนด้า เป็น numpy array (.iloc)

In [ ]:
for each_row in range(this_data.shape[0]) :
    if  (this_data.iloc[each_row,1]== 20 )  and  (this_data.iloc[each_row,2]== 'ขอนแก่น') :
          # each row เป็น ตัวเลข
        print(each_row)
        print(this_data.iloc[each_row, : ])

9334
sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object

In [100]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [ ]:
for each_row in range(data_covid.shape[0]) :
    if  (data_covid.iloc[each_row,1]== '1/1/2021') :
          # each row เป็น ตัวเลข
        print(each_row)

In [85]:
data_1 = (data_covid.iloc[6884:,:])
data_1

         No.  ...                                               risk
6884    6885  ...                                  Cluster สมุทรสาคร
6885    6886  ...                                      Cluster ระยอง
6886    6887  ...                                        สถานบันเทิง
6887    6888  ...                                  Cluster สมุทรสาคร
6888    6889  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
...      ...  ...                                                ...
12418  12419  ...                                        สถานบันเทิง
12419  12420  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                        Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5539 rows x 10 columns]

## Quiz ตัดตารางออกมาเฉพาะปี 2021

In [104]:
TF=list()
for each_row in data_covid.iterrows():
      if each_row[1]['announce_date'].split(' / ')[2] == '2021' :
             TF.append(True)
      else :
             TF.append(False)

data_covid[TF]

IndexError: ignored

### Function ตัวช่วยใน Pandas

In [107]:
 data_covid.describe()

                No.          age
count  12423.000000  8656.000000
mean    6212.000000    38.143856
std     3586.355532    15.201953
min        1.000000     0.100000
25%     3106.500000    27.000000
50%     6212.000000    36.000000
75%     9317.500000    49.000000
max    12423.000000    97.000000

.mean   คำนวณค่าเฉลี่ยของข้อมูลโดยไม่สนจ missing

In [108]:
data_covid.mean()

No.    6212.000000
age      38.143856
dtype: float64

In [109]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]