<a href="https://colab.research.google.com/github/Patsee/data_viz/blob/main/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import  drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os 
path = '/content/drive/My Drive/dataviz_2021'

In [38]:
Project = pd.read_excel('/content/drive/My Drive/dataviz_2021/M1.xls',sheet_name=0,skiprows=1)
Project

   Average Monthly Income Per Household: 1998 - 2015  ...          Unnamed: 12
0                                                NaN  ...         บาท   Baht
1                                     ภาค และจังหวัด  ...  Region and province
2                                                NaN  ...                  NaN
3                                                NaN  ...                  NaN
4                                    ทั่วราชอาณาจักร  ...        Whole Kingdom
..                                               ...  ...                  ...
86                                          นราธิวาส  ...           Narathiwat
87                                               NaN  ...                  NaN
88                                               NaN  ...                  NaN
89                                            ที่มา:  ...                  NaN
90                                           Source:  ...                  NaN

[91 rows x 13 columns]

In [ ]:
Project.shape[0]

91