<a href="https://colab.research.google.com/github/Patsee/data_viz/blob/main/quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เปรียบเทียบผลรวม alpha

In [1]:
import pandas as pd

In [2]:
from google.colab import  drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os 
path = '/content/drive/My Drive/dataviz_2021'

In [16]:
data_file_path = os.path.join(path,'example_timestamp.csv')
print(data_file_path)

/content/drive/My Drive/dataviz_2021/example_timestamp.csv

In [20]:
data = pd.read_csv(data_file_path)
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [36]:
data_a = data['beta']
a = 24 ,25,25,28
a1 = 20,21,16
data_a

0    24
1    25
2    25
3    28
4    20
5    21
6    16
Name: beta, dtype: int64

In [31]:
data_b = data['alpha']
data_b

0     8.78
1    13.00
2     0.44
3     1.94
4     5.40
5     5.68
6     2.64
Name: alpha, dtype: float64

In [41]:
alpha_b1 = sum(a)
print(f' ค่าเฉลี่ยก่อน {alpha_b1}')

 ค่าเฉลี่ยก่อน 102

In [43]:
alpha_b2 = sum(a1)
print(f' ค่าเฉลี่ยหลัง {alpha_b2}')

 ค่าเฉลี่ยหลัง 57