<a href="https://colab.research.google.com/github/Patsee/data_viz/blob/main/quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เปรียบเทียบผลรวม alpha

In [11]:
import pandas as pd
import os
from datetime import date,datetime

In [12]:
from google.colab import  drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
import os 
path = '/content/drive/My Drive/dataviz_2021'

In [14]:
data_file_path = os.path.join(path,'example_timestamp.csv')
print(data_file_path)

/content/drive/My Drive/dataviz_2021/example_timestamp.csv

In [15]:
data = pd.read_csv(data_file_path)
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [16]:
data_a = data['beta']
a = 24 ,25,25,28
a1 = 20,21,16
data_a

0    24
1    25
2    25
3    28
4    20
5    21
6    16
Name: beta, dtype: int64

In [17]:
data_b = data['alpha']
data_b

0     8.78
1    13.00
2     0.44
3     1.94
4     5.40
5     5.68
6     2.64
Name: alpha, dtype: float64

In [ ]:
alpha_b1 = sum(a)
print(f' ค่าเฉลี่ยก่อน {alpha_b1}')

In [ ]:
alpha_b2 = sum(a1)
print(f' ค่าเฉลี่ยหลัง {alpha_b2}')

## Quiz5(2)

In [18]:
data_file_path1 = os.path.join(path,'search_request.csv')
print(data_file_path1)

/content/drive/My Drive/dataviz_2021/search_request.csv

In [19]:
data_Q5 = pd.read_csv(data_file_path1)
data_Q5.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [20]:
data_Q5.iloc[0,2]

'2018-06-14 12:34:35.449'

In [26]:
Q5 =  data_Q5[data_Q5['search_timestamp']>'11:00:00.000']
Q5_01 = Q5[Q5['search_timestamp']<'12:00:00.000']
Q5_01.sum()

Unnamed: 0          0.0
search_id           0.0
search_timestamp    0.0
user_agent          0.0
q                   0.0
user_id             0.0
session_id          0.0
number_of_result    0.0
lat                 0.0
long                0.0
dtype: float64