<a href="https://colab.research.google.com/github/Patsee/data_viz/blob/main/Visualize_Data_Distribution_(02).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

การแสดงผลการกระจายของข้อมูล

*scatter*

scatter 3D

In [8]:
import pandas as pd

In [ ]:
from matplotlip

In [10]:
df = pd.read_csv('https://raw.github.com/pandas-dev/pandas/master/pandas/tests/io/data/csv/iris.csv')
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [11]:
plt.scatter(df['PetalLength'],df[PetalWidth])

NameError: ignored